<!-- <h1>Angular</h1>
<input type="text" [(ngModel)]="namee" />
<input type="number" />
{{ this.namee }}
<p [hidden]="!namee">fafaf</p>

<app-binding></app-binding>
<app-directive></app-directive>
<app-parent (addressEventEmit)="adddressEventEmitted($event)" #parentRef></app-parent>
<p style="color: blue">{{ parentRef.intial }}</p> -->
<!-- <button (click)="onClick()">ChangeVal</button>
<input type="text" name="" id="" [(ngModel)]="username" />
<h1>{{ username }}</h1>
<app-lifecycle-hooks [username]="username" *ngIf="componentDecidingVal">something</app-lifecycle-hooks> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-template-driven></app-template-driven> -->
<!--
<app-reactive-forms></app-reactive-forms> -->
<!-- <app-host-listner></app-host-listner> -->
<!-- <app-formbuilder></app-formbuilder> -->
<!-- <app-httpclient></app-httpclient> -->
<!-- <app-forkjoin-combinelatest></app-forkjoin-combinelatest> -->
<!-- <button>button</button> -->
<!-- <app-error-handler></app-error-handler> -->
<!-- <app-performance-handling></app-performance-handling> -->
<app-sharereplay></app-sharereplay>
<app-sharereplay2></app-sharereplay2>
<div *ngIf="true">ajsgka</div>
<app-sample></app-sample>
